body {
  background-color: #0e1015;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  display: flex;
  width: 100%;
  height: 100vh;
}
.left {
  width: 40%;
  background: #0a0f1c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  width: 60%;
  background: url("../Assets/Images/login.png") no-repeat center center/cover;
}
.card {
  background-color: #0a0f1c;
  width: 460px;
  padding: 45px 40px 35px;
  border-radius: 18px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.logo img {
  width: 32px;
  height: auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-size: 15px;
  color: #b5b5b5;
  text-align: center;
  margin-bottom: 25px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #d2d2d2;
}

input {
  width: 100%;
  padding: 12px;
  background-color: #26293d;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

input::placeholder {
  color: #a0a0a0;
}

button {
  width: 100%;
  background-color: #e6ddcf;
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
}

button:hover {
  opacity: 0.9;
}

.footer-text {
  text-align: center;
  font-size: 14px;
  color: #c2c2c2;
  margin-top: 20px;
}

.footer-text a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
    height: 100vh;
  }

  .right {
    display: none;
  }

  .card {
    width: 90%;
    max-width: 400px;
    margin: 50px auto;
  }
}
