
    body {
      background-color: #111;
      color: #fff;
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    .card {
      background-color: #1a1a1a;
      padding: 30px;
      border-radius: 10px;
      text-align: center;
      width: 300px;
    }
    .container{
      display: flex;
      width: 100%;
      height: 100vh;
    }
    .left{
      width: 40%;
      background: #0a0f1c;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .right{
      width: 60%;
      background: url('img.png') no-repeat center center/cover;
    }
    .logo {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    h2 {
      margin: 10px 0;
    }
    p {
      color: #aaa;
      margin: 5px 0 20px;
    }
    .check {
      width: 60px;
      height: 60px;
      background-color: #28a745;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 20px;
    }
    .check span {
      font-size: 30px;
      color: #fff;
    }
    button {
      background-color: #d4af7a;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      color: #000;
      font-weight: bold;
      width: 100%;
    }
    button:hover {
      opacity: 0.9;
    }

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
  }

  .right {
    display: none; 
  }

  .card {
    width: 90%;
    max-width: 350px;
    margin: 50px auto;
    padding: 25px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  button {
    font-size: 15px;
    padding: 10px;
  }
}

  